.card__bookmark {
  position: absolute;
  background-image: url("../img/bookmark-white.svg");
  background-size: contain;
  padding: 30px;
  border: 0;
  top: -20px;
  right:-20px;


}

.card button.active {
  background-color: lightseagreen;
  background-image: url("../img/bookmark-white.svg");
  background-size: contain;
}
