.card__bookmark {
  display: inline;
  background-color: white;
  text-align: right;
  padding: 30px;
  border: 0;
}

.card button.active {
  background-color: lightseagreen;
  display: inline;
  text-align: right;
  padding: 30px;
  border: 0;
}
