footer {
  grid-column: 1/-1;
  grid-row: 3;
  display: flex;
  overflow: hidden;
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 142, 147);
}

.footer a + a {
  border-left: solid white 2px;
  padding: 7px;
}

@import './navbar.scss';
