.footer__nav a {
  flex: auto;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px;
}

/* Change color on hover */
.footer__nav a:hover {
  color: lightseagreen;
}

/* Active/current link */
.footer__nav--active a.active {
  background-color: lightseagreen;
  color: black;
}
