* {
  box-sizing: border-box;
}

body {
  font-size: 112.5%;
  background-color: rgb(28, 28, 30);
  color: rgb(142, 142, 147);
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 48px auto 48px;
  justify-content: center;
}

@import './header';

main {
  grid-column: 1/-1;
  grid-row: 2;
  justify-self: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}
@import './card.scss';

@import './footer.scss';

/* create.html styles */

.createcard {
  display: flex;
  flex-direction: column;
}

.createcard textarea {
  display: block;
  align-self: center;
  background-color: rgb(142, 142, 147);
  color: black;
  width: 90%;
  height: 80px;
  margin: 20px;
  align-content: center;
  border: 0;
}

.createcard__button {
  align-self: center;
}
