* {
  box-sizing: border-box;
}

body {
  font-size: 112.5%;
  background-color: rgb(28, 28, 30);
  color: rgb(142, 142, 147);
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 48px auto 48px;
  justify-content: center;
}

@import './header';

main {
  display: grid;
  grid-column: 1/-1;
  grid-row: 2;
  justify-self: center;
  justify-content: center;
}
@import './card.scss';

@import './footer.scss';

/* create.html styles */

.createcard textarea {
  display: block;
  align-self: center;
  color: black;
  width: 200px;
  height: 80px;
  margin: 20px;
  align-content: center;
}

.createcard__button {
  justify-self: center;
  align-self: center;
}
