
/* the whole look of the show button*/
.show__button {
  display: block;
  align-self: center;
  margin: 20px auto 10px auto;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  font-size: medium;
  padding: 4px;
  border-radius: 8px;
}

/* the whole look of the hide button*/
.hide__button {
  display: block;
  align-self: center;
  margin: 20px auto 10px auto;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  font-size: medium;
  padding: 4px;
  border-radius: 8px;
}