/* Bookmark svg picture*/
.card svg {
  width: 50px;
  height: auto;
}

.bookmark--on {
  position: absolute;
  right: 0;
  top: -10px;
  fill: lightseagreen;
}

.bookmark {
  position: absolute;
  right: 8px;
  top: -18px;
}
