/* bookmark */
.createcard__button {
  display: block;
  align-self: center;
  margin: 30px auto 5px auto;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  font-size: larger;
  padding: 6px;
  border-radius: 8px;
}

.show__button {
  display: block;
  align-self: center;
  margin: 20px auto 10px auto;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  font-size: medium;
  padding: 4px;
  border-radius: 8px;
}

.hide__button {
  display: block;
  align-self: center;
  margin: 20px auto 10px auto;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  font-size: medium;
  padding: 4px;
  border-radius: 8px;
}

/* logout button on profile page */
.button--logout {
  align-self: center;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-size: small;
}

.button--light,
.button--dark {
  position: fixed;
  right:15px;
  background-color: rgba(32, 178, 170, 0.7);
  border: 0;
  border-radius: 8px;
  padding: 5px;
  font-size: small;
  margin-right: 5px;
}
