.card {
  margin: 40px;
  padding: 20px;
  border: solid 2px;
  border-radius: 20px;
  position: relative;
  background-color: rgba(2, 48, 2, 3);
}

/* card subheadlinen */
.card h2 {
  margin: 0;
  padding: 10px 0;
}

.card__taglist {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  padding: 0;
  margin-bottom: 0;
}

.card__tag {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  background-color: rgb(142, 142, 147);
  color: black;
  border-radius: 6px;
  padding: 4px;
  margin: 4px;
}

@import './bookmark.scss';
@import './answerbutton.scss';
@import './creatcard.scss';
